/**
 * Bounce.CSS 
 * Authored by Ryhan Hassan
 * 
 * Describes appearance of <div class="ball"></div>,
 * and a bounce animation keyframe.
 * 
 **/

/* Define what a ball looks like */
div.ball{

	/* Hides the ball element until ready to be shown */
	opacity: 0;

	/* Shape */
	border-radius: 100px;
	height: 100px;
	width: 100px;

	/* Coloring */
	background: -webkit-radial-gradient(30px 30px, 60px 60px, #F00, #900);
	border: 1px solid #600;
	box-shadow: 0 3px 10px rgba(0,0,0,0.25);

	/* Position */
	position: absolute;

}

/* Add a light inner gloss to balls */
div.ball:before{

	content: ' ';

	/* Shape */
	background: -webkit-linear-gradient(top, pink, rgba(255,255,255,0));
	background: -webkit-radial-gradient( 0 0, 20px 20px, pink, rgba(255,255,255,0));
	display: border-box;
	border-radius: 20px;
	height: 20px;
	width: 20px;

	/* Position */
	position: absolute;
	left: 20px;
	top: 20px;	

}

/* Define a sequence of keyframes */
@-webkit-keyframes bounce{

	0%{
		opacity: 1;
		left: 80%;
		bottom: 80%;
	}

	25%{
		opacity: 1;
		left: 50%;
		bottom: 0;
	}
	50%{
		opacity: 1;
		left: 25%;
		bottom: 80%;
	}
	62%{
		opacity: 1;
		left: 0;
		bottom: 40%;
	}
	75%{
		opacity: 1;
		left: 25%;
		bottom: 0;
	}
	100%{
		opacity: 1;
		left: 80%;
		bottom: 80%;
	}

}

/* 
 * Animate our ball elements.
 * If we have multiple balls, stagger
 * them so they don't always overlap.
 */
div.ball:nth-child(4n+0){
	-webkit-animation: bounce 4s 0 infinite linear;	
}
div.ball:nth-child(4n+1){
	-webkit-animation: bounce 9s 2s infinite linear;	
}
div.ball:nth-child(4n+2){
	-webkit-animation: bounce 5s 3s infinite linear;	
}
div.ball:nth-child(4n+3){
	-webkit-animation: bounce 12s 6s infinite linear;	
}
